<div class="container-contentboby">
<div class="container p-5 text-center">
	<p>Your StudentID is used in another account</p>
	<button class="btn btn-success btn-sm mt-4">
		@* @Html.ActionLink("Đăng nhập ngay", "Login", "Account") *@
		<a class="text-light text-decoration-none px-3 fs-6 fw-bold" asp-action="VerifyInfo" asp-controller="Account">Quay lại</a>
	</button>
</div>
</div>