@model FStep.ViewModels.Email.ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="row justify-content-center">
    <div class="col-5 mt-5 border border-4 p-4 rounded">
        <form method="post" asp-action="ForgetPassword">
            <h3 class="text-center text-muted mb-2" style="font-size:20px;">Forgot Password </h3>
            <hr />
            <div class="mb-3">
                <label class="mb-2" asp-for="Email"></label><span class="text-danger">*</span>
                <input type="email" class="form-control" autocomplete="on" asp-for="Email" placeholder="Please enter your email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="col-6 d-grid">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-warning btn-block text-light">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

