@model Response
@{
	ViewData["Title"] = "ForgetPasswordConfirmation";
	Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="container">
<div class="row">
	<div class="col-6 offset-3" style="top: 50%; right:25%">
		@if (Model.Message == "Password updated successfully.")
		{
			<div class="alert alert-success" role="alert">
				@Model.Message, If you want to login then click <a asp-action="Login" asp-controller="Account" class="btn btn-sm btn-primary">Login</a>
			</div>
		}
		else
		{
			<div class="alert alert-success" role="alert">
					<strong>@Model.Message</strong> của bạn đã được gửi đến Email đăng ký, vui lòng kiểm tra email để đặt lại mật khẩu
					Lưu
			</div>
		}

		<div class="d-gird">
			<a asp-action="Login" asp-controller="Account" class="btn btn-sm btn-primary">Back</a>
		</div>
	</div>
</div>


