<!-- Favicon -->
<link href="img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>



<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">



<!-- Navbar Start -->

<div class="container-fluid fixed-top">
	<nav class="navbar navbar-expand-lg bg-light navbar-light sticky-top px-4 py-0">
		<a href="/" class="navbar-brand d-flex align-items-center">
			<h2 class="text-primary mb-0"><i class="fa fa-car me-3"></i>FStep</h2>
		</a>
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				@if (User.IsInRole("Moderator"))
				{
					<a class="nav-link text-dark" asp-area="" asp-action="ManagePosts" asp-controller="ModeManagePost">Quản lý bài đăng</a>
					<a class="nav-link text-dark" asp-area="" asp-action="WareHouse" asp-controller="Warehouse">Kho hàng</a>
					<a class="nav-link text-dark" asp-area="" asp-action="UserManager" asp-controller="ModeManageUser">Quản lý người dùng</a>
				}
				else
				{
					<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ </a>
					<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sale">Bán</a>
					<a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Trao đổi</a>
					<div class="nav-item dropdown">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TransactionHistory">Đã mua</a>
					</div>
				}
			</div>
			<div class="navbar-nav ms-auto align-items-center">
				@if (User.Identity.IsAuthenticated)
				{
					<div class="navbar-nav align-items-center ms-auto">
						<div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle notification-toggle" data-bs-toggle="dropdown">
								<i class="fa fa-bell me-lg-2"></i>
								Thông báo
								<span class="badge bg-danger">@ViewBag.NotificationCount</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0 notification" id="notification">
							</div>

						</div>
						<div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
								<img class="rounded-circle me-lg-2" src="~/img/@User.FindFirst("IMG")?.Value" alt="" style="width: 40px; height: 40px;">
								<span class="d-none d-lg-inline-flex">
									@if (!string.IsNullOrEmpty(User.Identity.Name))
									{
										@User.Identity.Name
									}
									else
									{
										@User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Email).Value.Split('@')[0]
										;
									}
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
								<a asp-action="Profile" asp-controller="Account" class="dropdown-item">Trang cá nhân</a>
								<a asp-action="Logout" asp-controller="Account" class="dropdown-item">Đăng xuất</a>

							</div>
						</div>
					</div>
				}
				else
				{
					<div class="ms-auto">
						<a asp-controller="Account" asp-action="Login" type="hidden" class="border-danger" style="text-decoration: none;">
							<button type="submit" class="btn btn-primary"> Đăng nhập</button>
						</a>
						<a asp-action="Register" asp-controller="Registration" class="border-danger" style="text-decoration: none;">
							<button type="button" class="btn btn-secondary">Đăng kí</button>
						</a>
					</div>
				}
			</div>
		</div>
	</nav>
</div>
<!-- Navbar End -->