@model IEnumerable<FStep.ViewModels.ProductVM>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.IdProduct">
                        <img src="~/image/@item.RecieveImg" class="img-fluid w-100 rounded-top" alt="@item.Name">
                    </a>
                </div>
                <div class="fruite-content">
                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.IdProduct">
                        <h4>@item.Name</h4>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
