@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}
<link type="text/css" rel="stylesheet" href="~/css/font-awesome.min.css" />

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>@Model.StatusCode</h1>
		</div>
		<h2>Oops! Nothing was found</h2>
		<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable. <a asp-action="Index" asp-controller="Home">Return to homepage</a></p>
		<div class="notfound-social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</div>
		<div class="pt-5 mt-5">
			<p class="text-danger">An error occurred while processing your request.</p>
			@if (Model.ShowRequestId)
			{
				<p>
					<strong>Request ID:</strong> <code>@Model.RequestId</code>
				</p>
			}
		</div>
	</div>
</div>
