@{
}

<link type="text/css" rel="stylesheet" href="~/css/font-awesome.min.css" />

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>Fail</h1>
		</div>
		<h2>Oops! Một số thông tin không đúng định dạng</h2>
		<p>Bài viết của bạn không được tạo vì một số thông tin không đúng định dạng, bạn có thể thử lại <a asp-action="Index" asp-controller="Home">Return to homepage</a></p>
		<div class="notfound-social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</div>
	</div>
</div>
