@using Microsoft.AspNetCore.Http.Extensions
@{
    string fullUrl = Context.Request.GetDisplayUrl();
    string baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
    string path = Context.Request.Path;
    string queryString = Context.Request.QueryString.ToString();
}

<h2>URL Information</h2>
<p>Full URL: @fullUrl</p>
<p>Base URL: @baseUrl</p>
<p>Path: @path</p>
<p>Query String: @queryString</p>

