@model FStep.ViewModels.PostVM
@{
}
<div class="modal-dialog modal-lg modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="container py-3">
				<div class="row">
					<div class="col-md-6">
						<img src="~/img/Sliden/logo.png" class="d-block w-100 rounded-circle" alt="" />
					</div>
					<div class="col-md-6 text-center">
						<h5>Trao đổi mua bán dễ dàng với <h5 class="f-step-title"><span>F</span>-STEP</h5></h5>
						<button class="btn btn-primary btn-sm mt-4">
							@* @Html.ActionLink("Đăng nhập ngay", "Login", "Account") *@
							<a class="text-light text-decoration-none px-5 fs-6 fw-bold" asp-action="Login" asp-controller="Account">Đăng nhập</a>
						</button>
						<p class="p-4">hoặc</p>
						<button class="btn btn-success btn-sm">
							@* @Html.ActionLink("Đăng nhập ngay", "Login", "Account") *@
							<a class="text-light text-decoration-none px-3 fs-6 fw-bold" asp-action="Register" asp-controller="Registration">Tạo tài khoản mới</a>
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>