@model FStep.ViewModels.PostVM
@{
}

<div class="modal-dialog modal-sm modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">

			<div class="container text-center">
				<h3>Thông báo</h3>
				<p>Cần xác thực tài khoản để thực hiện hành động này</p>
				<button class="btn btn-success btn-sm mt-4">
					@* @Html.ActionLink("Đăng nhập ngay", "Login", "Account") *@
					<a class="text-light text-decoration-none px-3 fs-6 fw-bold" asp-action="VerifyInfo" asp-controller="Account">Xác thực ngay</a>
				</button>
			</div>

		</div>
	</div>
</div>