@{
    ViewData["Title"] = "CreatePostSuccess";
}
<div class="container create-post-success">
    <h1 class="title">Congratulations!</h1>
    <p class="success-message" >Bài đăng của bạn đã được gửi thành công</p>
    <p class="instruction" >Vui lòng mang sản phẩm của bạn tới địa chỉ sau để được kiểm duyệt</p>
<<<<<<< HEAD
<<<<<<< HEAD
    <p class="address">Vị trí: P.123_Campus Hồ Chí Minh</p>
=======
    <p class="address">Vị trí: P123_Campus Hồ Chí Minh</p>
>>>>>>> develop
=======
    <p class="address">Vị trí: P123_Campus Hồ Chí Minh</p>
>>>>>>> develop
    <p class="note">Thời gian: Thời hạn 7 ngày. (Quá 7 ngày bài post của bạn sẽ bị xóa)</p>
    <div class="col-6 d-grid">
        <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-block text-light">Back</a>
    </div>
</div>