@model FStep.ViewModels.ProfileVM
@{
	ViewData["Title"] = "EditAccount";
}
<div class="container mt-5">
	<h1 class="mb-4">Cập Nhật Tài Khoản</h1>
	<form asp-action="UpdateAccount" method="post" class="update-account-form">
		<input asp-for="IdUser" type="hidden" />

		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="Role" class="form-label my-3">Vai trò</label>
				<select asp-for="Role" class="form-control form-control-sm custom-select custom-select-sm role-select">
					<option value="Admin">Admin</option>
					<option value="Customer">Customer</option>
					<option value="Moderator">Moderator</option>
				</select>
			</div>

			<div class="form-group col-md-6">
				<label asp-for="Status" class="form-label my-3">Trạng thái</label>
				<select asp-for="Status" class="form-control form-control-sm custom-select custom-select-sm status-select">
					<option value="true">True</option>
					<option value="false">False</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="BankName" class="form-label my-3">Tên Ngân Hàng</label><sup style="color: red">*</sup>
			<input asp-for="BankName" class="form-control" required />
		</div>

		<div class="form-group">
			<label asp-for="BankAccountNumber" class="form-label my-3">Số Tài Khoản Ngân Hàng</label><sup style="color: red">*</sup>
			<input asp-for="BankAccountNumber" class="form-control" required />
		</div>

		<button type="submit" class="btn btn-update py-2 px-3 text-uppercase">Cập Nhật</button>
	</form>
</div>


<style>
	.role-select {
		width: 90px;
		height: 21px;
	}

	.status-select {
		width: 50px; 
		height: 21px; 
	}
	
</style>