@model List<FStep.ViewModels.ChatVM>

<ul class="m-b-0">
    @foreach (var message in Model)
    {
        <li class="clearfix">
            <div class="message-data" >
                <span class="message-data-time">@message.ChatMsg</span>
            </div>
            <div class="message ">
            @message.ChatMsg
            </div>
        </li>
    }
</ul>
